---
import Layout from "../layouts/Layout.astro";
const posts = await Astro.glob("../pages/news/*.md");
---

<Layout title="All News">

    <div id="news">
        <div class="container">
            <div>
                <h2 class="mb-10 text-center">Noticias</h2>
            </div>

            <div class="grid grid-cols-1 md:grid-cols-2 lg:grid-cols-3 gap-10">
                {
                    posts.reverse().map((post) => (
                        <article>
                            <div class="card">
                                <div class="">{post.frontmatter.date}</div>
                                <h3 class="font-bold text-xl my-2">
                                    {post.frontmatter.title}
                                </h3>
                                <p class="mb-5">
                                    {post.frontmatter.description}
                                </p>
                                <a class="primary-btn" href={post.url}>
                                    Leer Más
                                </a>
                            </div>
                        </article>
                    ))
                }
            </div>
        </div>
    </div>
</Layout>


<style>

    #news {
        min-height: 100vh;
        padding-block: 60px;
        background-color: rgb(16,15,17);
    }
    h2 {
        color: var(--color-white);
    }
    h3{
        color: var(--color-red);
    }
    .card {
        background-color: white;
        padding: 30px;
        border-radius: 10px;
    }
</style>
