---
import Layout from "../layouts/Layout.astro";
---

<Layout title="Apoyos">
<div class="apoyos">
    <div class="patreons">
        <div class="container">
            <h1>BLACK SMOKE <br /> FAMILY</h1>
            <h5 class="my-4"><b>¡Bienvenidos a la Black Smoke Family!</b></h5>
            <span>
                <p>
                    Somos una banda 100% independiente que vive gracias a tu
                    apoyo y estamos enormemente agradecidos por eso. La mano que
                    nos dan, más allá de lo económico que nos ayuda UN MONTÓN,
                    nos mantiene motivadísimos para seguir haciendo lo que más
                    nos gusta.
                </p>

                <p>
                    Les prometemos un discazo!! De nuestra parte, vamos a dar lo
                    mejor
                </p>
            </span>
        </div>
    </div>

    <div class="top_patreons">
        <div class="container">
            <h2><b>WALL OF FAME</b></h2>
            <p class="mb-5 small">Última Actualización 30/10/23</p>

            <div class="row">
                <div class="col-6 col-sm-6 col-md-4 mb-4">
                    <h5>Noelia Fabra</h5>
                </div>
                <div class="col-6 col-sm-6 col-md-4 mb-4">
                    <h5>Cristina Alayón</h5>
                </div>
                <div class="col-6 col-sm-6 col-md-4 mb-4">
                    <h5>Jose Obes</h5>
                </div>
                <div class="col-6 col-sm-6 col-md-4 mb-4">
                    <h5>Valentina Temes</h5>
                </div>
                <div class="col-6 col-sm-6 col-md-4 mb-4">
                    <h5>Mara Burgueño</h5>
                </div>
                <div class="col-6 col-sm-6 col-md-4 mb-4">
                    <h5>Cecilia Berón</h5>
                </div>
                <div class="col-6 col-sm-6 col-md-4 mb-4">
                    <h5>Loreley Valanzano</h5>
                </div>
                <div class="col-6 col-sm-6 col-md-4 mb-4">
                    <h5>Cecilia Villavedra</h5>
                </div>
                <div class="col-6 col-sm-6 col-md-4 mb-4">
                    <h5>Mauro Fernández</h5>
                </div>
                <div class="col-6 col-sm-6 col-md-4 mb-4">
                    <h5>Cecilia Guerra</h5>
                </div>
                <div class="col-6 col-sm-6 col-md-4 mb-4">
                    <h5>Benjamin Machin</h5>
                </div>
                <div class="col-6 col-sm-6 col-md-4 mb-4">
                    <h5>Fernanda Colman</h5>
                </div>
                <div class="col-6 col-sm-6 col-md-4 mb-4">
                    <h5>Matias Albarenga Ferreyra</h5>
                </div>
                <div class="col-6 col-sm-6 col-md-4 mb-4">
                    <h5>Mauricio Turell</h5>
                </div>
                <div class="col-6 col-sm-6 col-md-4 mb-4">
                    <h5>Carolina Nelcis</h5>
                </div>
                <div class="col-6 col-sm-6 col-md-4 mb-4">
                    <h5>Gabriel Brikman</h5>
                </div>
                <div class="col-6 col-sm-6 col-md-4 mb-4">
                    <h5>Andrea Quintana</h5>
                </div>
                <div class="col-6 col-sm-6 col-md-4 mb-4">
                    <h5>Lucia Sánchez</h5>
                </div>
                <div class="col-6 col-sm-6 col-md-4 mb-4">
                    <h5>Jesus Silva</h5>
                </div>
                <div class="col-6 col-sm-6 col-md-4 mb-4">
                    <h5>Ignacio Toledo</h5>
                </div>
                <div class="col-6 col-sm-6 col-md-4 mb-4">
                    <h5>Juan Leyton</h5>
                </div>
                <div class="col-6 col-sm-6 col-md-4 mb-4">
                    <h5>Romina Campodonico</h5>
                </div>
                <div class="col-6 col-sm-6 col-md-4 mb-4">
                    <h5>Sebastián Bengochea</h5>
                </div>
                <div class="col-6 col-sm-6 col-md-4 mb-4">
                    <h5>Leonardo Quiroz Caputi</h5>
                </div>
                <div class="col-6 col-sm-6 col-md-4 mb-4">
                    <h5>Francisco de Izaguirre</h5>
                </div>
                <div class="col-6 col-sm-6 col-md-4 mb-4">
                    <h5>Florencia Bornes</h5>
                </div>
                <div class="col-6 col-sm-6 col-md-4 mb-4">
                    <h5>Adonay Dalmedo</h5>
                </div>
                <div class="col-6 col-sm-6 col-md-4 mb-4">
                    <h5>Noelia Melo</h5>
                </div>
                <div class="col-6 col-sm-6 col-md-4 mb-4">
                    <h5>Marina Dondi</h5>
                </div>
                <div class="col-6 col-sm-6 col-md-4 mb-4">
                    <h5>Osvaldo Dufour</h5>
                </div>
                <div class="col-6 col-sm-6 col-md-4 mb-4">
                    <h5>Andres Yanten Morales</h5>
                </div>
                <div class="col-6 col-sm-6 col-md-4 mb-4">
                    <h5>Pablo Ostuni Fernández</h5>
                </div>
                <div class="col-6 col-sm-6 col-md-4 mb-4">
                    <h5>Ana Silva</h5>
                </div>
                <div class="col-6 col-sm-6 col-md-4 mb-4">
                    <h5>Chechu Laporta</h5>
                </div>
                <div class="col-6 col-sm-6 col-md-4 mb-4">
                    <h5>Alejandro Pernia</h5>
                </div>
                <div class="col-6 col-sm-6 col-md-4 mb-4">
                    <h5>Federico Garcia</h5>
                </div>
                <div class="col-6 col-sm-6 col-md-4 mb-4">
                    <h5>Fabian Rodriguez</h5>
                </div>
                <div class="col-6 col-sm-6 col-md-4 mb-4">
                    <h5>Felipe Garcia</h5>
                </div>
                <div class="col-6 col-sm-6 col-md-4 mb-4">
                    <h5>Virginia Turell</h5>
                </div>
                <div class="col-6 col-sm-6 col-md-4 mb-4">
                    <h5>Fabian Alvarez</h5>
                </div>
                <div class="col-6 col-sm-6 col-md-4 mb-4">
                    <h5>Victoria Bonavita</h5>
                </div>
                <div class="col-6 col-sm-6 col-md-4 mb-4">
                    <h5>Dario Cuitiño</h5>
                </div>
            </div>

            <p class="mt-5">
                Seguimos grabando! Si querés colaborar podés hacerlo desde <a
                    class="d-link"
                    href="https://blacksmokeuy.myshopify.com/products/cerveza"
                    >acá</a
                >. 😌
                <br /> Y sino podés ni querés, tranqui que te vamos a seguir
                amando igual. 💘
            </p>
        </div>
    </div>
</div>
</Layout>


<style>
    .apoyos {
        text-align: start;
    }

    .patreons {
        text-align: start;
        background-color: black;
    }

    h1 {
        margin-top: 6rem;
        font-size: 50px;
        font-weight: 700;
        text-align: start;
        color: white;
    }

    h5 {
        color: white;
    }

    .patreons p {
        max-width: 70ch;
        text-wrap: balance;
        font-size: 16px;
        line-height: 1.5rem;
        color: white;
    }

    .top_patreons {
        color: black;

        & h5 {
            color: var(--color-text);
        }
    }

    .top_patreons .d-link {
        color: rgb(197, 38, 38);
    }
</style>
