---
import Shows from '../components/Home/Shows.astro';
import Layout from '../layouts/Layout.astro';
import HeroFuego from '../components/Home/HeroFuego.astro'
import HeroHastaElFinal from '../components/Home/HeroHastaElFinal.astro'
import Nosotros from '../components/Home/Nosotros.astro'
import Musica from '../components/Home/Musica.astro'
import Contacto from '../components/Home/Contacto.astro'
import News from '../components/Home/News.astro';
---

<Layout title="Black Smoke">
	<div class="main">
		<HeroHastaElFinal/>
		<!-- <HeroFuego/> -->
		<Nosotros/>
		<Musica/>
		<News/>
		<Shows/>
		<Contacto/>
	</div>
</Layout>


<style>
	.main {
		margin-top: 95px;
		background-color: var(--color-black);
		background:linear-gradient(180deg, rgba(0,0,0,1) 0%, rgba(0,0,0,0) 100%),
			url('../img/black-texture.webp');
		background-position: center;
		background-position: top;
		background-repeat: repeat-y;
	}
</style>

