<div id="contacto">
    <div class="container">
        <h2>Contacto</h2>
        <p>No tengas miedo en escribirnos para lo que sea.</p>
        <p>
            Podés hacerlo a <b>blacksmokeuy@gmail.com</b>, y en unas horitas te
            vamos a estar respondiendo. 🤘
        </p>
    </div>
</div>

<style>
    #contacto {
        position: relative;
        background-color: var(--color-white);
        background-image: url(../../lib/images/vibora.jpg);
        background-repeat: no-repeat;
        background-position: top;
    }

    h2 {
        color: var(--color-black);
        margin-bottom: 30px;
    }

    p {
        margin: 0;
        color: var(--color-black);
        text-wrap: pretty;
    }
</style>
