---
import SocialIcons from "../SocialIcons.astro";
---

<div class="home">
</div>
<div class="home-container">
    <SocialIcons/>
</div>


<style>
    .home {
        position: relative;
        text-align: center;
        color: white;
        width: 100%;
        height: 620px;
        background: linear-gradient(
                to bottom,
                rgba(0, 0, 0, 0.6),
                rgba(0, 0, 0, 0)
            ),
            url("../../img/Black_Smoke_2025.jpg");
        clip-path: polygon(
            0% 1%,
            100% 0%,
            100% 31.8%,
            100% 59%,
            25% 86.8%,
            45.3% 89%,
            18.8% 100%,
            0% 100%
        );
        background-position: 60% 30%;
        background-size: cover;

        @media (min-width: 780px) {
            height: calc(100vh - 95px) ;
            background-position: 50% 30%;
            clip-path: polygon(
                0% 1%,
                100% 0%,
                100% 31.8%,
                100% 59%,
                62.4% 87.3%,
                73.8% 88.8%,
                51.7% 100%,
                0% 100%
            );
        }
    }

    .home-container {
        position: absolute;
        top: 0;
        bottom: 0;
        height: 620px;
        width: 100%;

        @media (min-width: 780px) {
            height: 100vh;
        }
    }

    .new-single {
        display: flex;
        flex-direction: column;
        gap: 10px;
        position: absolute;
        bottom: 5%;
        right: 5%;
        z-index: 999;
        text-align: center;

        & p {
            color: var(--color-white);
            margin: 0;
            text-transform: uppercase;
            line-height: 1;
            letter-spacing: 4px;
        }

        & .new-single-title {
            font-size: 35px;
            font-weight: 800;
            letter-spacing: 1px;
        }

        & .new-single-btn {
            text-align: center;
            color: var(--color-white);
            border: 1px solid var(--color-white);
            padding: 10px 30px;
            text-decoration: none;

            &:hover {
                background-color: var(--color-white);
                color: var(--color-black);
            }
        }
    }
</style>
