<section id="shows">
    <div class="container">
        <h2 class="text-center text-white text-4xl mb-20">PRÓXIMOS SHOWS</h2>
        <script charset="utf-8" src="https://widget.bandsintown.com/main.min.js"
        ></script>
        <a
            class="bit-widget-initializer"
            data-artist-name="id_1809032"
            data-font="Helvetica"
            data-language="es"
            data-display-details="false"
            data-text-color="rgba(255,255,255,1)"
            data-background-color="rgba(16,15,17,1)"
            data-separator-color="rgba(255,255,255,1)"
            data-popup-background-color="rgba(255,255,255,1)"
            data-link-color="rgba(116,157,228,1)"
            data-link-text-color="rgba(5,0,0,1)"
            data-display-past-dates="true"
        >
        </a>
    </div>
</section>

<style>
    #shows {
        background-color: rgb(16, 15, 17);
    }
</style>
