<div class="banner-top">
  <p class="text-xs sm:text-sm p-3">
    Estamos grabando nuestro tercer disco!! Si querés colaborar con lo que cuesta una cervecita podés hacerlo
    desde este <a
      href="https://blacksmokeuy.myshopify.com/products/cerveza"
      target="_blank">link</a
    >! 🍺
  </p>
</div>

<style>
  .banner-top {
    background-color: var(--color-red);
    color: var(--color-white);
    text-align: center;
  }

  .banner-top a {
    text-decoration: underline !important;
  }
</style>
