<a
  href="https://blacksmokeuy.myshopify.com/products/cerveza"
  class="banner-top"
>
  <p class="text-xs sm:text-sm p-3">
    Estamos grabando nuestro tercer disco!!! Si querés colaborar con lo que
    cuesta una cervecita podés hacer click en este banner! 🍺
  </p>
</a>

<style>
  .banner-top {
    display: block;
    background-color: var(--color-red);
    color: var(--color-white);
    text-align: center;
  }

  .banner-top a {
    text-decoration: underline !important;
  }
</style>
