---
import { Image } from "astro:assets";
import artWork from "../../src/img/BlackSmokeDisc.jpg";
---

<div class="disc">
    <div class="grid grid-cols-1 md:grid-cols-2 gap-10 items-center">
        <div>
        <div class="disc-header flex flex-wrap justify-between items-center">
            <h2 class="font-bold text-base mb-4">Black Smoke</h2>
            <div class="flex gap-4">
                <a
                    target="_blank"
                    class="primary-btn text-sm"
                    href="https://blacksmokeuy.myshopify.com/products/black-smoke-disco-digital"
                    >Comprar Disco Digital
                </a>
                <a
                    class="primary-btn text-sm"
                    href="https://blacksmoke.fanlink.to/black-smoke"
                    target="_blank">Stream Album</a
                >
            </div>
        </div>
         <hr / class="my-8">
        <p class="text-album mb-3">
            <a
                href="https://music.youtube.com/watch?v=6oGudjDsoGs&list=RDAMVM6oGudjDsoGs"
                target="blank">01. Inferno</a
            >
            <a
                href="https://music.youtube.com/watch?v=FX20JR-ENDc&feature=share"
                target="blank">02. Tiempo de Perder</a
            >
            <a
                href="https://music.youtube.com/watch?v=zBe20_jATow&feature=share"
                target="blank">03. Como ayer</a
            >
            <a
                href="https://music.youtube.com/watch?v=f3T3Zfgu_7A&feature=share"
                target="blank">04. A tus pies</a
            >
            <a
                href="https://music.youtube.com/watch?v=8lOxexsl8uU&feature=share"
                target="blank">05. Cerca del Final</a
            >
            <a
                href="https://music.youtube.com/watch?v=CC-GioYF9gs&feature=share"
                target="blank">06. Renacer</a
            >
        </p>
        <div class="credits text-sm">
            <p>(2014) Todas las letras escritas por Rodrigo Turell Alayón.</p>
            <p>
                Tema 1, 2, 4 y 5 compuesto por Rodrigo Turell Alayón y Andrés
                Nion Valanzano.
            </p>
            <p>Tema 3 y 6 compuestos por Rodrigo Turell Alayón.</p>
            <p>
                Mezclado y masterizado por Carlos Fonsalía (Santiago de Chile).
            </p>
            <p>
                Arte de tapa y diseño gráfico Rodrigo Turell Alayón y Kim
                Wilson.
            </p>
        </div>
    </div>
    <div>
        <Image src={artWork} alt="Arte de tapa del primer disco de Black Smoke" />
    </div>
</div>
</div>


<style>

    .disc {
        margin-top: 5rem;
    }
    img {
        width: 100%;
        height: auto;
        max-width: 600px;
        border: 15px solid white;
        box-shadow: 0px 10px 15px -3px rgba(0, 0, 0, 0.1);
    }

    .text-album {
        display: flex;
        flex-direction: column;
    }

    a {
        display: inline;
        width: fit-content;
        margin-bottom: 5px;
        color: var(--color-text);
    }

    a:hover {
        color: var(--color-red);
        text-decoration: none;
    }

    .credits {
        & p {
            margin: 0 !important;
        }
    }
</style>
