<footer>
    <div class="footer-container">
        <p class="text-center text-sm">2014 - 2024 © Black Smoke.</p>
        <!-- <p class="text-sm">
            Desarrollado por <a
                href="https://rodrigoturell.com/"
                target="_blank">Ro</a>
        </p> -->
    </div>
</footer>

<style>
    footer {
        background-color: var(--color-black);
        padding: 30px 0;
    }

    .footer-container {
        margin: auto;
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        align-items: center;
        gap: 5px;
    }

    p {
        color: rgb(205, 205, 205);
        margin: 0;
    }

    a {
        color: var(--color-link);
    }
</style>
